/*
Localitee v1.0

Green #78ae39
Orange #ff6a30

*/

body {
padding-top: 10px;
margin: 0;
font-family: "Droid Sans", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 18px;
color: #545454;
background-color: #F2F2E9;
}


a {
color: #ff6a30;
text-decoration: none;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}

a:hover {
color: #78ae39;
text-decoration: underline;
}

/* Localitee navigation styles */

.navbar
{
margin-top: 10px;
margin-bottom: 20px;
border-bottom: solid 6px #ff6a30;
border-top: solid 1px #ececec;
}

.navbar-inner
{
background: #fff;
padding: 0;
}

.navbar-inner #branding
{
padding-bottom: 10px;
}

.navbar-inner .logo
{
font-size: 30px;
color: #78ae39 !important;
padding-left: 3px;
line-height: 30px;
padding-top: 10px;
}

.navbar-inner .logo a
{
color: #78ae39 !important;
}

.navbar-inner .logo a:hover
{
text-decoration: none;

}

.navbar-inner .logo span
{
color: #ff6a30;
}

.navbar-inner .postcode
{
font-size: 60px;
line-height: 60px;
white-space:nowrap;
color: #ff6a30;
}

.navbar .nav .active > a
{
background-color: #ff6a30;
}

.navbar .nav .active > a:hover
{
background-color: #ff6a30 !important;
}

.navbar .nav li a
{
color: #545454;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
padding: 8px 15px 8px 15px;
margin-right: 1px;
}

.navbar .nav li > a:hover
{
color: #ff6a30;
background-color: #fff !important;

}

.nav-collapse .nav > li > a:hover
{
color: #fff;
background-color: #ff6a30 !important;
}


.navbar .dropdown-menu li a i
{
margin-right: 5px;
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #ff6a30;

  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #ff6a30, #ff6a30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #ff6a30, #ff6a30);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #ff6a30;
  *background-color: #151515;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #080808 \9;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}




/* search bar */

.row-fluid.advancedsearch
{
background: white;
margin-bottom: 10px;
padding-top: 20px;
border-bottom: solid 1px #CCC;
}

.searchbox
{
width: 400px;
margin: 0 auto;
}

#searchform ul
{
margin: 0;
padding: 0;
}

#searchform li
{
list-style-type: none;
float: left;
margin-right: 10px;
}

#searchform li label
{
margin-right: 5px;
}

#searchform li label, #searchform li input[type="checkbox"]
{
float: left;
}

#searchform input[type="text"]
{
margin-bottom: 0;
padding: 10px;
width: 300px;
}

#searchform input[type="submit"]
{
padding: 10px;
}

.advancedsearch
{
margin-top: 5px;
}

#advancedsearch p
{
margin-top: 5px;
font-weight: bold;
}

/* Account header box */

.dropdown-menu li a:hover, .dropdown-menu li:hover
{
background: #ff6a30;
}

/* buttons */

.btn-success {
  background-color: #78ae39;
  *background-color: #68992e;
  background-image: -ms-linear-gradient(top, #78ae39, #699a30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78ae39), to(#699a30));
  background-image: -webkit-linear-gradient(top, #78ae39, #699a30);
  background-image: -o-linear-gradient(top, #78ae39, #699a30);
  background-image: -moz-linear-gradient(top, #78ae39, #699a30);
  background-image: linear-gradient(top, #78ae39, #699a30);
  background-repeat: repeat-x;
  border-color: #699a30 #699a30 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#78ae39', endColorstr='#699a30', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #699a30;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}



.box
{
clear: left;
margin-bottom: 10px;
padding: 20px;
border-bottom: solid 1px #ccc;
background: #fff;
}

.col2box
{
float: left;
clear: left;
margin-bottom: 10px;
padding: 20px;
border-bottom: solid 1px #ccc;
background: #fff;
}

.col2box .featured
{
width: 50%;
float: left;
padding-right: 10px;
}

.box h2 a, .col2box h2 a
{
color: #545454;
}

.box h2 a:hover, .col2box h2 a:hover
{
color: #ff6a30;
}

.box img, .col2box .featured img
{
margin: 0 0 10px 10px;
padding: 2px;
border: solid 1px #ccc;
float: right;
max-width: 50%;
}

.col2box .top-news
{
float: left;
width: 40%;
padding-left: 10px;
border-left: solid 1px #ccc;
}

.col2box .top-news li
{
margin-bottom: 5px;
}

.col2box .top-news li span
{
display: block;
}


.box .carousel .item
{
padding: 0 90px;
}

.carousel-control 
{

}

footer
{
background: #fff;
padding: 20px;
border-top: solid 3px #ff6a30;
}


/* Modal form styles */

#loginform div
{
margin: 10px 0;
}

.modal-body .guests h3, .modal-body .members h3, .modal-body .join h3
{
color: #78ae39;
}


/* Media Queries */

@media (max-width: 480px) 
{
	.navbar-inner #branding
	{
	margin-top: 40px;	
		
	}
	
	.searchbox
	{
	width: 250px;
	}
	
	#searchform input[type="text"]
	{
	width: 150px;
	}
	
	.col2box .featured
	{
	width: 100%;
	float: none;
	padding-right: 0px;
	}
	
	.col2box .top-news
	{
	float: none;
	width: 100%;
	padding-left: 0px;
	border-left: none;
	}
	
}

@media (max-width: 767px) {
  .navbar-inner {
    padding: 20px;
  }

}

